* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: white;
  height: 100vh;
  flex-direction: column;

}

.container {
  padding: 2rem 3rem;
  width: 50%;
  max-width: 100%;
  margin: 20px auto;
}

h2 {
  margin-bottom: 1rem;
  font-size: 2.2rem;
  color: #333;
  font-weight: 700;
}



input,
button {
  display: inline;
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
}

input:focus,
button:hover {
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(0, 195, 89, 0.5);
}

input {
  background-color: #f9f9f9;
}



.btn1 {
  background-color: rgb(59, 59, 112);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn {
  color: black;
  border: 1px solid violet;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:nth-child(2) {
  background-color: #FF5733;
}

button:nth-child(2):hover {
  background-color: #c94c2e;
}

.head {
  background-color: #128ECC;
  height: 60px;
  transition: background-color 0.3s;
}

h2 {
  font-size: 30px;
  padding-top: 15px;
  font-size: 24px;
  margin: 1px 20px;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.results,
.loan-details {
  margin-top: 2rem;
  background: #f7f9fb;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.results p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #eaeaea;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 1rem;
  }

  h2 {
    font-size: 1.8rem;
  }
}